<div class="container body-content">
    <div class="row">

            <div class="col-md-6">
                <article>
                    <header>
                        <h2>About me</h2>
                    </header>

                    <p>Not much actually. This is just a simple info page to say hi again. So.. Hi!</p>

                </article>
            </div>

    </div>
</div>